.fade-in {
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
  animation: fadeIn ease 5s;
  behavior: "smooth";
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.landing {
  position: relative;
  top: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: inherit;
  overflow-y: scroll;
  overflow-x: hidden;
}

.greeting {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: inherit;
  background-color: rgb(6, 6, 8);
}

.about {
  position: relative;
  left: -5%;
  flex-direction: column;
  color: transparent;
  background-clip: text;
  background-image: url(../../assets/background.png);
  -webkit-background-clip: text;
  -webkit-background-image: url(../../assets/background.png);
  -moz-background-clip: text;
  -moz-background-image: url(../../assets/background.png);
  -o-background-clip: text;
  -o-background-image: url(../../assets/background.png);
  -ms-background-clip: text;
  -ms-background-image: url(../../assets/background.png);
}

.project {
  height: 100vh;
  width: inherit;
}

header {
  position: relative;
  top: 0;
  margin: 0px auto;
  padding-right: 5%;
  /* margin-top: 10px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  /* height: fit-content; */
  justify-content: flex-end;
  background-color: black;
  z-index: 2;
}

.landing img {
  position: relative;
  bottom: -10%;
  height: 80vh;
}

a {
  text-decoration: none;
  color: black;
}

.landing h1,
h6,
h3 {
  margin: 0;
  display: inline;
  text-align: left;
}

.greeting {
  text-align: left;
}

.greeting,
.project1,
.project2,
.project3, 
.project4 {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
}

.project1 {
  top: 100%;
}

.project2 {
  top: 200%;
  background-color: #c7d6d5;
}

.project3 {
  top: 300%;
  background-color: black;
}

.project4 {
  top: 400%;
  background: linear-gradient(#e8e8e8, #e0e0e0);
  margin: 0 auto;
}

.btn {
  background-color: transparent;
  border: none;
  color: transparent;
  border-radius: 100px;
}

.projectButtons {
  margin-left: 5%;
}


.iframe {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 6%;
  left: 0;
  z-index: 3;
}

@media only screen and (max-width: 500px) {
  .landing {
    width: 100%;
    height: inherit;
  }

  .landing img {
    position: relative;
    height: 50vh;
    top: 25%;
    left: 18%;
    border-radius: 0px;
  }

  .greeting {
    width: 100%;
  }

  .about {
    position: relative;
    top: -15%;
    left: -80%;
    width: 100%;
  }

  header {
    margin: 0 auto;
    width: 100vw;
    height: 6vh;
    justify-content: flex-end;
    background-color: black;
    z-index: 2;
  }

  .iframe {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
  }
}

