.fade-in {
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
  animation: fadeIn ease 5s;
  behavior: "smooth";
}

.landing {
  position: relative;
  top: 0;
  margin: 0 auto;
  padding-top: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: inherit;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgb(139, 208, 244);
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
  background-color: rgb(139, 208, 244);
  width: 100%;
  height: inherit;
  color: rgb(255, 37, 57);
}

.portrait {
  width: 50%;
  height: 60%;
  margin-top: 8%;
  background-image: url(../../assets/Portrait.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 3%;
  border-radius: 25px;
  background-position: center;
  filter: drop-shadow(0 0.2rem 0.9rem rgb(48, 134, 211));
}

.intro {
  width: 30%;
  margin-top: 20%;
  margin-left: 1%;
}

.greetingFooter {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  padding-top: 3%;
}

.footerTop {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  height: 70%;
  width: 100%;
}

.footerTop a {
  margin: none;
  padding: none;
}

.twitter {
  position: relative;
  margin-top: 0%;
  margin-left: 10%;
  height: 350px;
  width: 405px;
  background-image: url(../../assets/twitter-preview.png);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 25px;
  z-index: 100;
  filter: drop-shadow(0 0.2rem 0.3rem grey);
}

.tiktok {
  position: relative;
  margin-left: 100%;
  height: 450px;
  width: 225px;
  background-image: url(../../assets/tik-tok-preview.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 25px;
  z-index: 99;
  filter: drop-shadow(0 0.2rem 0.3rem grey);
}

.linkedin {
  position: relative;
  margin-top: 0%;
  margin-left: -60%;
  height: 499px;
  width: 340px;
  background-image: url(../../assets/linkedin-preview.png);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 25px;
  filter: drop-shadow(0 0.2rem 0.3rem grey);
  z-index: 95;
}

.tiktokicon,
.twittericon,
.linkedinicon {
  position: relative;
  top: -8%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 25%;
  width: 25%;
  filter: none;
}

.tiktokicon {
  background-image: url(../../assets/tiktokicon.png);
  margin-left: 70%;
}

.twittericon {
  background-image: url(../../assets/twittericon.png);
  margin-left: 80%;
  /* height: 25%; */
}

.linkedinicon {
  background-image: url(../../assets/linkedin-icon.png);
  margin-left: 75%;
}

.footerBottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: flex-end;
  width: 80%;
  height: 30%;
  padding-top: 1%;
  margin: 2% 0% 0% 10%;
}

.footerBottom img {
  height: 30%;
  width: calc(80% / 9);
  padding-right: 1%;
}

.about h1 {
  font-size: 48px;
  font-family: "Aldrich", sans-serif, uppercase;
  font-weight: 500;
}

.about h3 {
  color: black;
  font-family: "Aldrich", sans-serif;
  margin-top: 20px;
}

.project {
  height: 100vh;
  width: inherit;
}

header {
  position: relative;
  top: 0;
  height: 40px;
  margin: 0px auto;
  padding-right: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  justify-content: flex-start;
  background-color: rgba(139, 208, 244);
  z-index: 2;
  backdrop-filter: blur(100px);
}

.landing img {
  position: relative;
}

a {
  text-decoration: none;
  color: black;
}

.landing h1,
h6,
h3 {
  margin: 0;
  display: inline;
  text-align: left;
}

.greeting {
  text-align: left;
}

.greeting,
.project1,
.project2,
.project3,
.project4 {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
}

.project1 {
  top: 100%;
}

.project2 {
  top: 200%;
  background-color: #c7d6d5;
}

.project3 {
  top: 300%;
  background-color: black;
}

.project4 {
  top: 400%;
  background: linear-gradient(#e8e8e8, #e0e0e0);
  margin: 0 auto;
}

.btn {
  background-color: transparent;
  border: none;
  color: transparent;
  border-radius: 100px;
}

.projectButtons {
  margin-left: 5%;
}

.iframe {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 6%;
  left: 0;
  z-index: 3;
}

@media only screen and (max-width: 800px) {
  .landing {
    flex-direction: column;
    height: 140vh;
  }
  .about {
    position: absolute;
  }

  .intro h3 {
    color: white;
  }

  .portrait {
    position: absolute;
    width: 90%;
    height: 55%;
    margin: 3% 0 0 1%;
  }

  .intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    margin: 20% 0% 0% 25%;
    height: 48%;
    width: 100%;
  }

  .greetingFooter {
    margin: 85% 0 0 0;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .footerTop {
    margin: 0% 0% 0% -80%;
    height: 40%;
    width: 150%;
  }

  .footerBottom {
    justify-content: center;
    height: 50px;
    width: 160%;
    margin: -0% 0% 0% -85%;
  }

  .footerBottom img {
    height: 90%;
  }

  .tiktok,
  .twitter,
  .linkedin {
    position: relative;
    margin: 20% 0 0 0;
    border-radius: 10px;
  }

  .twitter {
    width: 215px;
    height: 185px;
    margin-left: 20%;
  }

  .tiktok {
    height: 300px;
    width: 150px;
    margin-left: 90%;
  }

  .linkedin {
    height: 350px;
    width: 239px;
    margin-left: -60%;
  }

  header {
    margin: 0 auto;
    width: 100%;
    height: 6vh;
    justify-content: center;
    z-index: 2;
  }

  .iframe {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
  }
}
