.landing {
  margin: 0 auto;
  margin-top: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 45vw;
  padding: 20px 0 0 20px;
}

header {
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 2vw;
  justify-content: flex-end;
}

.landing img {
  height: 20vw;
  border-radius: 1000px;
}

a {
  text-decoration: none;
  color: black;
}

.about {
  flex-direction: column;
}

.links {
  justify-content: center;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.landing h1, h6 {
  margin: 0;
  padding-left: 15px;
  text-align: left;
}