.component {
  display: flex;
  flex-direction: column;
  height: 95vh;
  width: 100vw;
  background-image: url(../../../assets/background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.aboutDiv {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 18%;
  top: 20%;
  font-family: "Aldrich", sans-serif;
  color: white;
  width: 65%;
  font-size: 22px;
}

.aboutDiv h2 {
  margin-top: 0;
  text-align: justify;
  color: black;
  font-weight: 900;
}

.languageIcon {
  position: relative;
  top: -25%;
  left: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-end;
  width: inherit;
  height: 96%;
}

.languageIcon img {
  zoom: 15%;
  height: auto;
  width: 5%;
  padding-right: 1%;
}

@media only screen and (max-width: 500px) {
  .aboutDiv {
    top: 5%;
    left: 15%;
    width: 77%;
    margin-top: 0;
    font-size: 16px;
  }

  .aboutDiv h2 {
    text-align: left;
    font-weight: 900;
  }

  .languageIcon {
    top: -40%;
    left: -52%;
    width: 200%;
    height: inherit;
  }

  .languageIcon img {
    width: 6%;
  }
}
