.fade-in {
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
  animation: fadeIn ease 2s;
  behavior: "smooth";
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.covidContainer {
  display: flex;
  flex-direction: row;
}

.covidHeader img {
  position: relative;
  left: 1%;
  top: 1%;
  zoom: 30%;
}

.covidHeader {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
}

.covidHeader h1 {
  font-family: "Bowlby One SC", cursive;
  color: #c20114;
  padding-left: 5%;
}

.covidBlurb {
  text-align: justify;
  position: relative;
  left: 2%;
  width: 50%;
  padding-left: 2%;
}

.left {
  display: flex;
  flex-direction: column;
}

.covidPreview {
  position: relative;
  left: -30%;
}

.covidPreview img {
  height: 90vh;
}

.iframe {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 6%;
  left: 0;
  z-index: 1;

}

.slide {
transition-property: all;
transition-duration: .5s;
transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

}

.covidClose {
  position: fixed;
  left: 93%;
  top: 8%;
  z-index: 2;
}