.curaContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: rgb(221, 226, 226);
}

.curaRight, .curaLeft {
  width: 50%;
}

.curaContainer img {
  position: relative;
  left: 1%;
  top: 1%;
  height: 25%;
  width: auto;
}

.curaHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10%;
  margin-top: 5%;
}

.curaHeader img {
  position: relative;
  left: 1%;
  top: 1%;
  zoom: 50%;
}

.curaHeader h1 {
  color: black;
  padding-left: 5%;
}

.curaClose {
  position: fixed;
  left: 95.5%;
  top: 6%;
  z-index: 2;
}

.btn {
  background-color: transparent;
  border: none;
  color: transparent;
  border-radius: 100px;
  cursor: pointer;
}

.curaRight {
  justify-content: center;
  align-items: center;
}

.curaVideo video {
  position: relative;
  left: 24%;
  margin-top: 10%;
}

.curaBlurb {
  position: relative;
  left: 20%;
  margin-top: 5%;
  width: 60%;
}

.curaBlurb h3 {
  color: grey;
}

.curaBlurb ul, li, h4 {
  list-style-type: none;
  margin: 0;
}

@media only screen and (max-width: 500px) {
  .curaHeader img {
    position: relative;
    left: -5%;
    top: 1%;
    zoom: 40%;
  }

  .curaLeft {
    width: 100%;
  }
  
  .curaBlurb {
    position: relative;
    left: 9%;
    width: 100%;
  }

  .curaRight {
    position: relative;
    top: 70%;
    left: -82%;
  }

  video {
    width: 550%;
    height: auto;
  }
}