.portfolio {
  height: 100%;
}

.projectCard {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    color: #333;
    padding: 40px;
    max-width: 40%;
    max-height: 190%;
    position: sticky;
    top: 10px;
  }